.cover__description {
    max-width: 560px;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    .cover__description {
        max-width: 288px;
    }
}