.cover__background {
    max-width: 1184px;
    width: 100%;
    min-height: 740px;
    position: absolute;
    background: #2A2C2F;
    opacity: 0.3;
}

.cover__link:hover .cover__background {
    opacity: 0.8;
}

@media screen and (max-width: 1279px) {
    .cover__background {
        min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover__background {
        min-height: 480px;
    }
}

@media screen and (max-width: 767px) {
    .cover__background {
        min-height: 200px;
        max-width: 320px;
    }
}